:root {
    --br-color: #012970;
    --or-color: #ff9d33;
    --modal-color: #e58440;
    --wt-color: #ffffff;
}

body {
    font-family: "Poppins", serif !important;
    background-image: url("../image/bg-login.png") !important;
}

/* style general */
.tagline {
    font-weight: 700;
}

.batas-tagline {
    color: var(--or-color);
}

.sub-tagline {
}

/* end */

.navbar-brand {
    font-weight: 700;
    font-size: 20px;
}

.nav-item {
    font-weight: 500;
    font-size: 16px;
}

.custom-name-dropdown {
    color: var(--br-color) !important;
    font-weight: 700 !important;
}

/* styling dropdown header menu */
.dropdown-item {
    color: var(--br-color) !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #dcebf4 !important;
    color: var(--br-color) !important;
}

.herro-tagline {
    font-weight: 500;
    font-size: 40px;
    padding-bottom: 23px;
    line-weight: ;
    padding-bottom: 8px;
    width: 85%;
}

.sub-herro-tagline {
    padding-top: 8px;
    font-weight: 400;
    font-size: 20px;
    width: 85%;
}

.button-secoundary {
    background-color: var(--or-color);
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 49px;
    width: 270px;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

/* khusus page login */
.page-login {
    background-image: url("../image/bg-login.png") !important;
    height: auto !important;
}

.button-login {
    width: 100%;
    height: 55px;
    background-color: var(--br-color);
    color: var(--wt-color);
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.button-login:hover {
    background-color: #4a69bb;
    color: white;
}

.login-label {
    font-size: 20px;
}

.login-input {
    height: 60px;
    width: 100% !important;
}

/* end */

.box-area {
}

.header-font-style {
    color: #012970;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
}

.sub-header-font-style {
    color: #ff9d33;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.button-masuk {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--br-color);
    color: var(--wt-color);
    font-weight: 700;
    font-size: 20px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
}

/* Efek hover */
.button-masuk:hover {
    background-color: #4a69bb;
    color: white;
}

/* section herro */
#herro {
    background-image: url("../image/bg-herro.png") !important ;
    padding: 30px 30px;
}
/* section service */
#service {
    padding: 100px 50px;
}

/*section reason */
.sub-reason h1 {
    font-size: 100px;
    width: 80%;
}

/* tentang kami */
#about {
    padding: 50px 50px;
}
.tag-about {
    color: var(--br-color);
    position: relative;
}

.tag-about::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35%;
    height: 3px;
    background-color: var(--or-color);
}

.sub-about {
    font-weight: 400;
    font-size: 25px;
    text-align: justify;
}

/* page order */
.btn-order {
    color: var(--wt-color) !important;
    background-color: var(--or-color) !important;
}

.card-img-top {
    width: 40% !important;
    margin: 0 auto !important;
    padding: 30px 0 30px 0;
}

/* button modal */
.btn-modal {
    width: 150px;
    height: 50px;
}

.btn-outline-warning {
    border-color: var(--or-color) !important;
}

.btn-outline-warning:hover {
    background-color: transparent !important;
    border-color: var(--or-color) !important;
    color: var(--or-color) !important;
    box-shadow: 0 0 10px rgba(229, 132, 64, 0.5);
}

.btn-warning {
    background-color: var(--or-color) !important;
    border-color: transparent !important;
}

.btn-warning:hover {
    background-color: #e58440 !important;
    border-color: transparent !important;
}

/* page profile */
.section-title-profile {
    font-weight: 700;
    color: #002f6c;
    font-size: 24px;
    display: inline-block;
    position: relative;
    width: fit-content;
    margin-left: 0; /* hapus auto */
}

.section-title-profile::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #f29142;
}

.row .fw-semibold {
    min-width: 150px;
}

.field {
    font-size: 18px !important;
}

.table-custom {
    border-collapse: collapse !important;
    width: 100%;
    background-color: transparent !important;
}

.table-custom th,
.table-custom td {
    background-color: transparent !important;
    border: none;
    padding-bottom: 20px !important;
    color: #000;
}

.form-input-profile {
    width: 100% !important;
}

.map {
    height: 500px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

/* riwayat order */
.order-card.active {
    background-color: #e6f0ff !important;
}

/* stepper */
.timeline {
    list-style: none;
    padding-left: 0;
    position: relative;
}

.timeline::before {
    content: "";
    background: #c5c5c5;
    width: 2px;
    height: 100%;
    position: absolute;
    left: 10px;
    top: 0;
}

.timeline li {
    padding: 10px 0 10px 30px;
    position: relative;
}

.timeline li::before {
    content: "";
    background: #007bff;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 10px;
    width: 10px;
    height: 10px;
}

/* detail transakasi  */

.section-title-detail {
    font-weight: 700;
    color: #002f6c;
    font-size: 30px;
    position: relative;
    width: fit-content;
    margin: 0 auto; /* ini yang bikin center */
}

.section-title-detail::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #f29142;
}

/* halaman saldo deposit */

.scrolling-card {
    max-height: 550px;
    overflow-y: auto;
}
.service-title {
    display: inline-block;
    position: relative;
    font-weight: bold;
}

.service-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 2px;
    background-color: orange;
}

.transaction-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
}
.icon-circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}
.text-green {
    color: #28a745;
    font-weight: 600;
}
.text-red {
    color: #dc3545;
    font-weight: 600;
}

.transaction-scroll-saldo::-webkit-scrollbar {
    width: 6px;
}

.transaction-scroll-saldo::-webkit-scrollbar-track {
    background: transparent;
}

.transaction-scroll-saldo::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.transaction-scroll-saldo::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.transaction-scroll-saldo {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.15) transparent;
    max-height: 400px;
    overflow-y: auto;
}

.transaction-scroll-saldo:hover {
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

/* halaman invoice */
a.text-primary:hover {
    color: #0d6efd;
    text-decoration: underline;
}

a.text-danger:hover {
    color: #dc3545;
    text-decoration: underline;
}

/* footer */
footer {
    background-color: var(--br-color);
    text-align: center;
    padding: 10px 0;
    font-weight: 400;
    font-size: 15px;
}

/* RESPONSIVE PAGE */
@media (max-width: 768px) {
    .col-md-3,
    .col-md-8 {
        width: 100%;
        margin-bottom: 20px;
    }

    .card {
        padding: 1rem;
    }

    .transaction-item {
        border-bottom: 1px solid #e0e0e0;
        padding: 15px 0;

        /* padding: 1rem;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 8px; */
    }

    .icon-circle {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    .col-auto {
        text-align: right;
    }

    .fw-bold {
        font-size: 14px;
        /* Ukuran font lebih kecil */
    }

    .section-title-profile {
        font-size: 16px;
        /* Ukuran font lebih kecil */
        text-align: center;
        margin-bottom: 20px;
    }

    small {
        font-size: 12px;
        /* Ukuran font lebih kecil untuk waktu */
    }

    .btn {
        width: 100%;
        /* Membuat tombol menjadi penuh pada layar kecil */
        padding: 10px;
    }

    .page-login {
        background-size: cover;
    }
    .container {
        padding: 15px;
    }
    .row {
        flex-direction: column;
    }
    .col-md-6 {
        width: 100%;
    }
    .form-login {
        width: 100%;
    }
    .button-login {
        width: 100%;
    }
}
